<div class="post-card">
  <mat-card *ngFor="let post of user?.posts">
    <div class="post-text">
      <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo quasi repellendus natus perspiciatis hic adipisci fugiat deserunt reiciendis est, consequatur facilis illum similique, maiores odio!
      </span>
    </div>
    <app-comment></app-comment>
    <app-like></app-like>
  </mat-card>
</div>
<div class="post-card">
  <mat-card *ngFor="let post of user?.posts">
    <div class="post-text">
      <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo quasi repellendus natus perspiciatis hic adipisci fugiat deserunt reiciendis est, consequatur facilis illum similique, maiores odio!
      </span>
    </div>
    <app-comment></app-comment>
    <app-like></app-like>
  </mat-card>
</div>
<div class="post-card">
  <mat-card *ngFor="let post of user?.posts">
    <div class="post-text">
      <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo quasi repellendus natus perspiciatis hic adipisci fugiat deserunt reiciendis est, consequatur facilis illum similique, maiores odio!
      </span>
    </div>
    <app-comment></app-comment>
    <app-like></app-like>
  </mat-card>
</div>
<div class="post-card">
  <mat-card *ngFor="let post of user?.posts">
    <div class="post-text">
      <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo quasi repellendus natus perspiciatis hic adipisci fugiat deserunt reiciendis est, consequatur facilis illum similique, maiores odio!
      </span>
    </div>
    <app-comment></app-comment>
    <app-like></app-like>
  </mat-card>
</div>
<div class="post-card">
  <mat-card *ngFor="let post of user?.posts">
    <div class="post-text">
      <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo quasi repellendus natus perspiciatis hic adipisci fugiat deserunt reiciendis est, consequatur facilis illum similique, maiores odio!
      </span>
    </div>
    <app-comment></app-comment>
    <app-like></app-like>
  </mat-card>
</div>
<div class="post-card">
  <mat-card *ngFor="let post of user?.posts">
    <div class="post-text">
      <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo quasi repellendus natus perspiciatis hic adipisci fugiat deserunt reiciendis est, consequatur facilis illum similique, maiores odio!
      </span>
    </div>
    <app-comment></app-comment>
    <app-like></app-like>
  </mat-card>
</div>
<div class="post-card">
  <mat-card *ngFor="let post of user?.posts">
    <div class="post-text">
      <span>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo quasi repellendus natus perspiciatis hic adipisci fugiat deserunt reiciendis est, consequatur facilis illum similique, maiores odio!
      </span>
    </div>
    <app-comment></app-comment>
    <app-like></app-like>
  </mat-card>
</div>
