.post-card {
  display: block;
  width: 500px;
  margin-bottom: 30px;
  mat-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .post-text {
      text-align: center;
    }
  }
}
