<div class="comment">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Comments </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="comment-body">
        <span>testuser@gmail.com</span>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus maiores dicta temporibus aliquid voluptatum animi saepe
          aperiam! Sint, doloremque ut.</span
        >
        <span class="date">19 November 2022</span>
        <mat-divider></mat-divider>
        <span>testuser@gmail.com</span>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus maiores dicta temporibus aliquid voluptatum animi saepe
          aperiam! Sint, doloremque ut.</span
        >
        <span class="date">19 November 2022</span>
        <mat-divider></mat-divider>
        <span>testuser@gmail.com</span>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus maiores dicta temporibus aliquid voluptatum animi saepe
          aperiam! Sint, doloremque ut.</span
        >
        <span class="date">19 November 2022</span>
        <mat-divider></mat-divider>
      </div>
      <app-comment-input></app-comment-input>
    </mat-expansion-panel>
  </mat-accordion>
</div>
