<app-navbar [user]="this.user"></app-navbar>
<div class="container">
  <app-side-bar></app-side-bar>
  <div class="user-content">
    <div class="post-card">
      <mat-card *ngFor="let post of user?.posts">
        <div class="post-text">
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, impedit ipsa laboriosam repellat perspiciatis id!
          </span>
        </div>
        <div class="comment">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Comments </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template *ngFor="let comment of post?.comments">
                  <p>{{comment?.comment_text}}</p>
                  <span>{{comment?.created_time}}</span>
              </ng-template>
              <div class="comment-input">
                <form>
                    <mat-form-field>
                        <textarea matInput placeholder="Enter your comment..."></textarea>
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="primary">Comment</button>
                </form>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <span class="like">
          <mat-icon>favorite</mat-icon>
          {{ post.likes?.length }}
        </span>
      </mat-card>
    </div>
  </div>
</div>
