<div class="container">
<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <mat-nav-list>
            <div class="side-list" (click)="getClick()">
                <mat-icon>post_add</mat-icon>
                <span>Create new post</span>
            </div>
            <div class="side-list" (click)="getFriends()">
                <mat-icon matBadge="0">group</mat-icon>
                <span>Friends</span>
            </div>
            <div class="side-list" (click)="getSettings()">
                <mat-icon>settings</mat-icon>
                <span>Manage account</span>
            </div>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
</div>