<div class="container">
    <mat-card>
        <mat-card-title>
            Socail Network App
        </mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat veniam natus est molestiae consequatur illo ipsam, officiis dolor minus. Quam vel quibusdam cumque et.
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="toLogin()">Start Chatting</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Lorem ipsum, dolor sit amet consectetur adipisicing.
        </mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta animi facilis eaque repellat ducimus ab delectus porro non ea, sit nam inventore sint aliquam nihil, quam atque blanditiis qui perspiciatis!
        </mat-card-content>
    </mat-card>
</div>